* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*nem mehtnek egybe egy láthataltan védő doboz*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(background.jpg)no-repeat center center/cover;
    height: 100vh;
    position: relative;
}
#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: .5s;
}
#open-btn:hover {
    background-color: white;
    color: black;
}
#model {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 50%); /*centerezés de jó lenne margin left+right auto is*/
    width: 200px;
    height: 100px;
    padding: 10px 20px; /*térköz*/
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: animationModel;
    animation-duration: .4s;
}
#close-btn {
    font-size: 3rem;

}
#close-btn:hover {
    cursor: pointer; /*legyen ez a kattithato egér jel*/
    font-size: 3rem;
    color: red;
}
#model-container { /*bezaró gomb eltuntetése és indulási helye*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2); /*elsötétedés csuzasnal*/
}
/*le eső effect*/
@keyframes animationModel {
    from {
        top: -300px;
        opacity: 0; /*igy nem láttjuk*/
    }
    to {
        top: 50%;
        opacity: 1; /*igy láttjuk*/
    }
}